& {
  .order-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .order-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .order-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .order-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .order-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .order-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .order-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .order-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .order-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .order-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .order-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .order-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  header,
  main,
  footer {
    overflow: hidden;
  }

  .xs-first {
    -ms-flex-order: -1;
    order: -1;
  }

  #nav-icon {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 14px;

    &:before {
      content: "";
      background-color: #e55a2f;
      width: 38px;
      height: 38px;
      background-color: #e55a2f;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }


  #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0;
  }

  #nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 0;
  }

  #nav-icon span:nth-child(1),
  #nav-icon span:nth-child(2) {
    top: 0px;
  }

  #nav-icon span:nth-child(3),
  #nav-icon span:nth-child(4) {
    top: 4px;
  }

  #nav-icon span:nth-child(5),
  #nav-icon span:nth-child(6) {
    top: 8px;
  }

  #nav-icon.open span:nth-child(1),
  #nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.open span:nth-child(2),
  #nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #nav-icon.open span:nth-child(2) {
    left: calc(50% - 4px);
    top: 7px;
  }

  #nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 3px;
  }

  #nav-icon.open span:nth-child(6) {
    left: calc(50% - 4px);
    top: 3px;
  }

  #nav-icon {
    float: right;
  }

  .phone {
    
    a {
      display: none;
      &.number {
        display: block;
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 4vw;
      }
    }

    img {
      margin: 0;
      display: block;
      float: right;
      margin-right: 22px;
      width: 38px;
      height: 38px;
    }
  }

  nav .logo img {
    height: 47px;
  }

  .menu {
    display: none;
    text-align: center;

    li {
      display: block;
      margin: 20px 0;
    }
  }

  .header {
    margin-top: 81px;
    padding-top: 30px;
    text-align: center;
    background: 0 0;

    //    padding-bottom: 87px;
    &:after {
      content: "";
      background: url('../images/23refd.png') no-repeat center bottom;
      width: 690px;
      height: 450px;
      position: absolute;
      bottom: 51px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;

    }

    .order-btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
  }

  br {
    display: none;
  }

  .header:before {
    content: "";
    background-color: #47c5d9;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    width: 100vw;
    height: 87%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

  }

  .header-item {
    .h3 {
      font-size: 14px;
    }

    h1 {
      font-size: 46px;
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
    }
  }

  .order-btn {
    //    font-size: 15px;
    padding: 18px 20px;
    max-width: 377px;
    width: 100%;
  }

  .header-img {
    margin-top: 45px;

    //    margin-bottom: 87px;
    img {
      margin-left: 0;
      width: 100%;
    }
  }

  .container {
    max-width: 480px;
    position: relative;
    z-index: 3;
  }

  .h2-title {
    font-size: 36px;
    margin-bottom: 40px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .why-item {
    max-width: 319px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 18px;
    padding-top: 40px;
    padding-bottom: 40px;

    .img {
      margin-bottom: 25px;
    }

    .title {
      margin-bottom: 25px;
    }

    br {
      display: block;
    }
  }

  .why {
    padding: 55px 0;
    background-position: 89% 243px;
  }

  .about {
    padding-top: 10px;
    padding-bottom: 100px;
  }

  .about-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 308px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .about-item {
    margin-bottom: 50px;
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
      width: 76px;
      margin-bottom: 30px;
    }

    p {
      text-align: center;

    }
  }

  .about-video {
    margin-bottom: 50px;
  }

  .about-item_bottom {
    margin-top: 0;
    margin-bottom: 30px;

    br {
      display: block;
    }

    .img {
      margin-bottom: 30px;
    }
  }

  .about-form {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 44px;
  }

  .form input,
  .form select {
    width: 100%;
    font-size: 19px;
    font-weight: 400;
    padding: 19px 33px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .form {
    .label {
      display: block;
      margin-bottom: 17px;
      margin-right: 0;
    }
  }

  .info {
    background: 0 0;
    padding: 59px 0 0;
    position: relative;

    .container {
      max-width: 320px;
    }

    .h2-title {
      text-align: center;
    }

    .info-item {
      margin-bottom: 50px;
      -ms-flex-align: normal !important;
      align-items: normal !important;
    }

    &:before {
      content: "";
      background-color: #47c5d9;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      width: 100vw;
      height: 85%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

    }

    &:after {
      content: "";
      background: url('../images/23refd.png') no-repeat center bottom;
      width: 690px;
      height: 450px;
      position: absolute;
      bottom: 75px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;

    }
  }

  .info-svg {
    margin-top: 6px;
  }

  .info-img {
    img {
      width: 100%;
    }
  }

  .info_2-img {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 75px;
  }

  .info_2-img:before {
    width: 403px;
    height: 390px;
    background-size: 100%;
  }

  .info_2-item {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-align: normal !important;
    align-items: normal !important;
    margin-bottom: 40px;
  }

  .info_2-svg {
    width: 82px;
    margin-left: 0;
    margin-right: 5px;
  }

  .info_2 {
    padding: 58px 0;
  }

  .subtitle {
    font-size: 20px;
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;
  }

  .info_3 {
    padding-top: 0;
  }

  .report {
    background: 0 0;
    position: relative;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;

    &:before {
      content: "";
      background-color: #47c5d9;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      width: 100vw;
      height: 56%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

    }

    &:after {
      content: "";
      background: url('../images/23refd.png') no-repeat center bottom;
      width: 490px;
      height: 450px;
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      overflow: hidden;

    }
  }

  .report-item_right {
    padding-left: 0;
    text-align: left;
    margin-bottom: 50px;
    -ms-flex-align: normal !important;
    align-items: normal !important;
  }

  .report-item {
    margin-bottom: 154px;
  }

  .selection {
    padding: 30px 0;
  }

  .selection-item {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    max-width: 346px;
    margin-left: auto;
    margin-right: auto;

    .title {
      margin-bottom: 10px;
    }

    .img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }

  .selection-img {
    margin-bottom: 55px;
    margin-top: 40px;

    img {
      width: 100%;
    }
  }

  .xs-none {
    display: none;
  }

  .xs-block {
    display: block;
  }

  .faq {
    padding: 50px 0;
  }

  .faq-item {
    padding: 30px 15px;

    .title {
      font-size: 22px;
    }

    .content {
      padding-right: 0;
    }
  }

  #map {
    height: 100vh;
    display: none;
    br {
      display: block;
    }
  }

  .footer {
    text-align: center;

    .footer-list {
      margin: 30px 0;
    }
  }

  .rezart-logo {
    float: none;
    display: inline-block;
  }

  .modal {
    padding: 65px 35px;
  }
  .fancybox-slide {
    padding: 0;
  }
  .modal.large {
    padding: 30px;
}
}
&.saccess .header-item h1 {
    font-size: 35px;
}